<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="main.js"></script>
  </head>
  <body>
    <textarea rows="4" cols="50" name="comment" form="usrform">
  Enter text here...</textarea
    >
    <br />
    <textarea rows="4" cols="50" name="comment" form="usrform">
        Enter text here...</textarea
    >
    <br />
    <input type="submit" />
  </body>
</html>
